@import "tailwindcss";

@theme {
  --font-invoice: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
}

body {
  font-family: "Fjalla One", sans-serif;
  background-color: oklch(97.1% 0.013 17.38);
}
